/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Reset de elementos específicos */
  body, h1, h2, h3, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
  }
  
  /* Ajustes adicionales si es necesario */
  body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Añade más reset de estilos según sea necesario */
  